<% @posts.reverse.each do |post| %>
  <p><%= post.message %> -
  <%= link_to 'Show', post_path(post) %><br>
  Posted at - <%= post.created_at.strftime('%-d/%m/%Y %H:%M') %></p>
<% end %>

<br>
<%= link_to new_post_path do %>
  New post
<% end %>
