 @import "bootstrap-sprockets";
 @import "bootstrap";

 .posts {
      white-space: pre-line;
 }

 .main {
   padding: 20px;
 }

 .panel-footer-left {
   float: left;
 }

 .panel-footer-right {
   float: right;
 }

 .flag-picture {
   width: 30px;
   height: 30px;
 }
