 @import "bootstrap-sprockets";
 @import "bootstrap";

 .posts {
      white-space: pre-line;
 }

 .main {
   max-width: 1000px;
   float: none;
   margin: 0 auto;
 }

 .panel-footer-left {
   float: left;
 }

 .panel-footer-right {
   float: right;
 }

 .flag-picture {
   width: 30px;
   height: 30px;
 }

.container-fluid {
  max-width: 1000px;
  float: none;
  margin: 0 auto;
}
